<ion-header class="ion-no-border">
    <ion-toolbar color="#f77708">

        <ion-buttons slot="start" (click)="toggleMenu()">
            <!-- <ion-icon slot="icon-only" name="menu"></ion-icon> -->

            <ion-menu-button menu="primerMenu" color="#ffffff"></ion-menu-button>

        </ion-buttons>
        <ion-title>Seguimiento</ion-title>
        <ion-buttons slot="end" class="imagenIco">
            <img src="./assets/imagenes/logo1.png" />
        </ion-buttons>

    </ion-toolbar>



</ion-header>

<ion-content>

</ion-content>