.top-100 {
    margin-top: 100px;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

.google {
    --background: #DB4437;
}

.size-label {
    font-size: 12px;
    font-style: italic;
}

.inicio {
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 90%;
    height: 85%;
    //background-color: white;
}

.inicio2 {
    border: none;
    border-radius: 8px;
    /*  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box; */
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 90%;
    height: 85%;
}

.imgLogin {
    width: 250px;
    border-radius: 8px;
}

.registro {
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 100%;
}