/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.aling-center {
    text-align: center;
}

.aling-left {
    text-align: left;
}

ion-header {
    // background-image: url(assets/imagenes/encabezado.png);
    background-color: #f77708;
    background-size: 100% 100%;
    height: 150px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    color: white;
}

.header_logo {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    margin: 0 0 0 2px;
}

ion-content {
    font-family: 'Poppins Regular';
    overflow: hidden;
}

ion-title {
    font-family: 'Poppins Bold';
}

.imagenIco {
    width: 30%;
    padding-top: 10px;
}


/* .imagenIco {
    width: 30%;
    position: absolute;
    right: 0;
} */

@font-face {
    font-family: 'Poppins Regular';
    src: url('../src/assets/fonts/Poppins-Regular.ttf');
    // src: url('path/to/your/font/file');//path to your font file
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../src/assets/fonts/Poppins-Bold.ttf');
    // src: url('path/to/your/font/file');//path to your font file
}

.colorIcono {
    color: #f77708;
}